<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

    <name>Bússola</name>

    <description>
    An example for phonegap build docs. 
    </description>

	<author href="https://esaramago.com" email="reg@esaramago.com">
	Emanuel Saramago
	</author>

    <preference name="phonegap-version" value="3.1.0" />
	<preference name="orientation" value="portrait" />

	<icon src="img/icon.png" />
	<gap:splash src="img/splash.png" width="320" height="480"/>

	<plugin name="Compass" value="org.apache.cordova.CompassListener" />

</widget>