<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Brôssola</name>
    <description>Bússola que funciona!</description>
    <author href="https://esaramago.com" email="reg@esaramago.com">Emanuel Saramago</author>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="vertical" />

    <gap:plugin name="org.apache.cordova.globalization" />

    <access origin="*" />
</widget>
