<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://wwww.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.esaramago.brossola"
		version="1.0.0">
    
    <preference name="phonegap-version" value="3.6.3" />

    <name>Brôssola</name>
    <description>Bússola que funciona!</description>
    <author href="https://esaramago.com" email="reg@esaramago.com">Emanuel Saramago</author>

    <icon src="icon.png" />

    <preference name="orientation" value="portrait" />

    <feature name="Compass">
        <param name="android-package" value="org.apache.cordova.deviceorientation.CompassListener" />
    </feature>

</widget>
